

body {
    color: var(--couleur-texte);
    background-color: var(--blanc);
    line-height: 1.6;}

    
.conteneur-flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.texte-gras {
    font-weight: bold;
}

/* --- BOUTONS --- */
.btn-orange {
    background-color: var(--orange);
    color: var(--bleu-fonce);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s;
}
.btn-orange:hover {
    background-color: var(--orange-survol);
}

.btn-bleu {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;

}


